numpy>=1.18, <1.24
pandas
python3-wget
matplotlib==3.3.1
pysam 
requests
terminaltables>=3.1
owlready2==0.47
scanpy

#remote git packages
#git+ssh://git@gitlab.com:cfinan/gwas-norm.git@master#egg=gwas-norm
git+https://git@gitlab.com/cfinan/skyline.git@master#egg=skyline
git+https://gitlab.com/cfinan/ensembl-rest-client.git@master#egg=ensembl_rest_client
git+https://gitlab.com/cfinan/cluster.git@master
git+https://gitlab.com/cfinan/pyaddons.git@master#egg=pyaddons

#local packages
-e /lustre/projects/mol_cardio/resources/software/dtadb_suite/gwas-norm
-r /lustre/projects/mol_cardio/resources/software/dtadb_suite/gwas-norm/requirements.txt
-e /home/rmgpibo/merit-helper/
-r /home/rmgpibo/merit-helper/requirements.txt 
